:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 0.1rem solid black;
  padding: 0.6rem;
  cursor: pointer;
}

.cell:hover {
  background-color: grey;
}
