.container {
  display: flex;
  position: absolute;
  flex-direction: column;
}

$topbar-height: 10dvh;
$sidebar-width: 20dvh;
$bar-border: 0.1rem;
.topbar-container {
  width: calc(100% - 2 * $bar-border);
  height: calc($topbar-height - 2 * $bar-border);
  border: $bar-border solid black;
}

.sidebar-container {
  width: calc($sidebar-width - 2 * $bar-border);
  height: calc(100% - $bar-border);
  border: $bar-border solid black;
  border-top: none;
}

.mainbody-container {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: calc(100dvh - ($topbar-height - 2 * $bar-border));
}

.canvas-container {
  width: calc(100% - $bar-border);
  height: calc(100% - $bar-border);
  border-right: $bar-border solid black;
  border-bottom: $bar-border solid black;
}
