:host {
  display: block;
}

.container {
  display: flex;
}

.button-container {
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

.creator-container {
  width: 20%;
  height: 50%;
  position: absolute;
  border: 0.1rem solid black;
  background-color: white;
}
